<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Coluna 1 - Nome da Empresa -->
            <div class="footer-column">
                <h4>COMPANY NAME</h4>
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <!-- Coluna 2 - Produtos -->
            <div class="footer-column">
                <h4>PROJECTS</h4>
                <ul>
                    <li><a href="#">COMMERCIAL</a></li>
                    <li><a href="#">RESIDENTIAL</a></li>
                    <li><a href="#">RESTAURANT</a></li>
                    <li><a href="#">CORPORATE</a></li>
                </ul>
            </div>

            <!-- Coluna 3 - Contato -->
            <div class="footer-column">
                <h4>CONTACT</h4>
                <p>🏠 New York, NY 10012, US</p>
                <p>✉️ <a href="mailto:info@gmail.com">info@gmail.com</a></p>
                <p>📞 +01 234 567 88</p>
                <p>🖨️ +01 234 567 89</p>
            </div>

            <!-- Coluna 4 - Redes Sociais -->
            <div class="footer-column social">
                <h4>FOLLOW US</h4>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-google"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
