<h3 class = "f">Home</h3>
<p>Esta é a página inicial da aplicação.</p>
<p>Esta página é acessada quando o usuário acessa a raiz da aplicação.</p>
<p>Para acessar esta página, o usuário não precisa estar autenticado.</p>
