<section id="hero">
    <div class="slider">
        <div class="slide active" style="background-image: url('images/home/Home1.jpg');"></div>
        <div class="slide" style="background-image: url('images/home/Home2.jpg');"></div>
        <div class="slide" style="background-image: url('images/home/Home3.jpg');"></div>
        <div class="slide" style="background-image: url('images/home/Home4.jpg');"></div>
    </div>
    <div class="hero-content">
        <h1>ARQUITETURA INOVADORA</h1>
        <h2>Transformando Espaços em Obras de Arte</h2>
        <button class="btn-portfolio" onclick="document.getElementById('projects').scrollIntoView({ behavior: 'smooth' });">
  CONHEÇA MEUS PROJETOS
</button>
    </div>
</section>

<Animate Animation="Animations.FadeUp" Once="true" Duration="TimeSpan.FromSeconds(2)">
<section id="features">
    <div class="feature-card">
        <div class="icon">
            <i class="fa-regular fa-building fa-xl" style="color: #ffffff;"></i>
        </div>
        <h3>Projeto Personalizado</h3>
        <p>Desenvolvemos projetos exclusivos que harmonizam estilo, conforto e inovação, transformando seus sonhos em realidade.</p>
    </div>

    <div class="feature-card">
        <div class="icon">
            <i class="fa-regular fa-map fa-xl" style="color: #ffffff;"></i>
        </div>
        <h3>Planejamento Integrado</h3>
        <p>Utilizamos tecnologia de ponta para mapear cada detalhe, garantindo precisão e eficiência do início ao fim.</p>
    </div>

    <div class="feature-card dark">
        <div class="icon">
            <i class="fa-regular fa-star-half-stroke fa-xl" style="color: #000000;"></i>
        </div>
        <h3>Execução Impecável</h3>
        <p>Nossa abordagem colaborativa assegura a execução do projeto com qualidade superior e respeito aos prazos estabelecidos.</p>
    </div>
</section>
</Animate>
