<section id="hero">
    <div class="hero-content">
        <h1>INTERIOR DESIGNS</h1>
        <h2>FROM THE FUTURE</h2>
        <button class="btn-portfolio">VIEW PORTFOLIO</button>
    </div>
</section>
