<!-- Seção Projetos -->
<section id="projects">
    <div class="text-projects">
        <h2>LATEST PROJECTS</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    </div>

    <div class="options-projects">
        <nav>
            <ul>
                <li><a href="#" class="active">All</a></li>
                <li><a href="#">Residential</a></li>
                <li><a href="#">Corporate</a></li>
                <li><a href="#">Restaurant</a></li>
                <li><a href="#">Commercial</a></li>
            </ul>
        </nav>
    </div>

    <div class="imagens-section">
        <div class="grid-images">
            <div class="image-container">
                <img src="images/home2.jpg" alt="Residential Project" >
                <div class="overlay">
                    <h3>Residential Design</h3>
                    <p>Far far away, behind the word mountains...</p>
                </div>
            </div>
            <div class="image-container">
                <img src="images/home2.jpg" alt="Corporate Project" >
                <div class="overlay">
                    <h3>Corporate Design</h3>
                    <p>Far far away, behind the word mountains...</p>
                </div>
            </div>
            <div class="image-container">
                <img src="images/home2.jpg" alt="Kitchen Design">
                <div class="overlay">
                    <h3>Kitchen Design</h3>
                    <p>Far far away, behind the word mountains...</p>
                </div>
            </div>
            <div class="image-container">
                <img src="images/home2.jpg" alt="Restaurant Design">
                <div class="overlay">
                    <h3>Restaurant Design</h3>
                    <p>Far far away, behind the word mountains...</p>
                </div>
            </div>
            <div class="image-container">
                <img src="images/home2.jpg" alt="Dining Room">
                <div class="overlay">
                    <h3>Dining Room</h3>
                    <p>Far far away, behind the word mountains...</p>
                </div>
            </div>
            <div class="image-container">
                <img src="images/home2.jpg" alt="Luxury Interior" >
                <div class="overlay">
                    <h3>Luxury Interior</h3>
                    <p>Far far away, behind the word mountains...</p>
                </div>
            </div>
        </div>
    </div>
</section>
