<section id="how-we-work">
    <div class="work-container">
        <h2>COMO TRABALHAMOS</h2>
        <p>Muito, muito longe, atrás das montanhas das palavras, longe dos países Vokalia e Consonantia, vivem os textos cegos.</p>

        <div class="work-steps">
            <div class="work-step">
                <h1>01</h1>
                <h3>Conceito</h3>
                <p>Muito, muito longe, atrás das montanhas das palavras, longe dos países Vokalia e Consonantia.</p>
            </div>
            <div class="work-step">
                <h1>02</h1>
                <h3>Projeto</h3>
                <p>Muito, muito longe, atrás das montanhas das palavras, longe dos países Vokalia e Consonantia.</p>
            </div>
            <div class="work-step">
                <h1>03</h1>
                <h3>Desenvolvimento</h3>
                <p>Muito, muito longe, atrás das montanhas das palavras, longe dos países Vokalia e Consonantia.</p>
            </div>
        </div>

        <!-- Seção de Avaliações dentro da Work -->
        <div class="reviews-container">
            <div class="review-card">
                <i class="fa-solid fa-user fa-xl"></i>
                <h3>Jessica Smith</h3>
                <div class="stars">★★★★★</div>
                <p>Good store with affordable prices. It can be quite crowded sometimes but it’s definitely the best fruit and vegetables market in the area.</p>
                <span class="review-date">2 weeks ago</span>
            </div>

            <div class="review-card">
                <i class="fa-solid fa-user fa-xl"></i>
                <h3>Sarah Evans</h3>
                <div class="stars">★★★★★</div>
                <p>I have been to this store a few times and have to say that it's the best store in town to buy fresh fruits & veggies...</p>
                <span class="review-date">3 weeks ago</span>
            </div>

        </div>
    </div>
</section>
