<div>
    <h1>Serviços</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus,
        tellus ullamcorper pretium suscipit, neque nulla pellentesque lacus.
    </p>

    <div class="Services_Cards">
        <div class="Card">
            <h2>Residential Design</h2>
            <p>
                Far far away behind the word mountains far from the countries
                Vokalia and Consonantia...
            </p>
            <button>Learn More</button>
        </div>
        <div class="Card">
            <h2>Corporate Design</h2>
            <p>
                Far far away behind the word mountains far from the countries
                Vokalia and Consonantia...
            </p>
            <button>Learn More</button>
        </div>
        <div class="Card">
            <h2>Restaurant Design</h2>
            <p>
                Far far away behind the word mountains far from the countries
                Vokalia and Consonantia...
            </p>
            <button>Learn More</button>
        </div>
    </div>
</div>
