@page "/services"

<div>
    <h1>
        Servicos
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus, tellus ullamcorper pretium suscipit, neque nulla pellentesque lacus, pellentesque porta diam purus vel ante. </p>

    <div class = "Services_Cards">
        <div class ="Card">
            p
        </div>
        <div class ="Card">p</div>
        <div class ="Card">p</div>
    </div>
</div>
